.marker {
	width: 3rem;
	height: 5rem;
	cursor: pointer;
	&__title {
		text-decoration: none;
		text-overflow: ellipsis;
		display: block;
		overflow: hidden;
		white-space: nowrap;
		width: 80px;
	}
	display: flex;
	flex-direction: column;
	align-items: center;

	color: lightcoral;
	.icon {
		color: rgb(225, 93, 93);
	}
}
